@model WebsiteQuanLyHocNgheCuaHung.Models.SinhVien
@using Microsoft.AspNet.Identity
@using WebsiteQuanLyHocNgheCuaHung.Models


@{

    ViewBag.Title = "Home Page";
    Entities db = new Entities();
    if (Request.IsAuthenticated == false)
    {
        Response.Redirect("/Account/Login");
    }
    var listuser = db.AspNetUsers.ToList();
    var username = "daominhquan176@gmail.com";
    if (Request.IsAuthenticated)
    {
        username = User.Identity.GetUserName();
    }
    var idusername = listuser.Single(t => t.Email.Equals(username)).Id;

    bool banlasinhvien = false;
    bool banlahuanluyenvien = false;
    //kiểm tra bạn có phải là sinh viên hay không
    var listsinhvien = db.SinhViens.ToList();
    if (listsinhvien.Count != 0)
    {
        foreach(var item in listsinhvien)
        {
            if(item.IDSinhVien == idusername)
            {
                banlasinhvien = true;
            }
        }
    }
    //kiểm tra bạn có phải là huấn luyện viên hay không
    var listhuanluyenvien = db.HuanLuyenViens.ToList();
    if (listhuanluyenvien.Count != 0)
    {
        foreach (var item in listhuanluyenvien)
        {
            if (item.IDHuanLuyenVien == idusername)
            {
                banlahuanluyenvien = true;
            }
        }
    }
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
@if (Request.IsAuthenticated && banlahuanluyenvien == false & banlasinhvien == false)
{
    <div class="w3-row-padding">
        <div class="w3-half">
            <h2>Bạn là sinh viên ?</h2>
            <p><a class="btn btn-default" href="@Url.Action("DangKySinhVien","Home",new { username=User.Identity.GetUserName() })">Đăng ký theo sinh viên &raquo;</a></p>


        </div>
        <div class="w3-half">
            <h2>Bạn là huấn luyện viên ?</h2>
            <p><a class="btn btn-default" href="@Url.Action("DangKyHuanLuyenVien","Home",new { username=User.Identity.GetUserName() })">Đăng ký theo huấn luyện viên &raquo;</a></p>


        </div>
    </div>
}
else if (banlasinhvien)
{
    <p><a class="btn btn-default" href="@Url.Action()">Kiểm Tra Trực tuyến  &raquo;</a></p>
}
else if (banlahuanluyenvien)
{

}
